.list {
    columns: 2 auto;
}

.div {
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: ridge;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;

}

.image {
    height: 100px;
}

.name {

}

.author {

}

.subject {

}

.date {

}