.heading {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-size: 2.4vw;
    color: rgb(71, 30, 30);
    align-self: center;
}